* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(0, 0, 0, 0.05);
}
.container {
    background-color: #fff;
    margin-top: 40px;
}
.container__search {
    padding: 32px;
}
